body, html {
    width: 100%;
    height: 100%;
    background-color: rgb(153, 155, 155);
    margin: 0px;
    padding: 0px;
    font-weight: 600;
}

a {
}

.master-form {
    height: 80%;
}

.container-master {
    height: 50%
}


.catalogo-container {
    height: 50%;
    background-color: rgb(75, 75, 75);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-top: 30px;
    border-radius: 20px;
}

    .catalogo-container .catalogo-carta {
        height: 460px;
        background-color: white;
        padding: 10px;
        width: 20%;
        margin: 15px;
        box-sizing: border-box;
        float: left;
        text-align: center;
        border-radius: 20px;
        cursor: pointer;
        padding-top: 10px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25);
        transition: .4s;
    }

        .catalogo-container .catalogo-carta:hover {
            box-shadow: 0 3px 6px rgba(0,0,0,0.16);
            background-color: rgb(190, 188, 188);
        }

        .catalogo-container .catalogo-carta a:hover {
            text-decoration: blink;
            font-weight: 500;
        }

        .catalogo-container .catalogo-carta img {
            border-radius: 10px;
            background-color: white;
            object-fit: contain;
            height: 200px;
            width: 100%;
            display: block;
            margin-bottom: 20px;
        }

        .catalogo-container .catalogo-carta .boton-añadir-f {
            margin: 0 auto;
            display: flex;
            width: 50%;
            font-size: 12px;
            margin-top: 30px;
        }

.registro-container {
    background-color: rgb(75, 75, 75);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25);
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 20px;
}

    .registro-container .registro-column {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

        .registro-container .registro-column .registro-text {
            margin: 0 auto;
            margin-top: 30px;
            width: 80%;
            color: white;
        }

        .registro-container .registro-column .registro-botones {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            margin-top: 30px;
        }

            .registro-container .registro-column .registro-botones .boton-registrarse {
                margin: 0 auto;
                width: 100px;
                margin-right: 150px;
            }

            .registro-container .registro-column .registro-botones a {
                margin: 0 auto;
                color: white;
            }

        .registro-container .registro-column .registro-text-img {
            display: flex;
            flex-direction: column;
            width: 70%;
            margin: 0 auto;
            margin-top: 40px;
        }

        .registro-container .registro-column .registro-image {
            margin: 0 auto;
            border-radius: 20px;
            margin-top: 30px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

            .registro-container .registro-column .registro-image .img-fluid {
                margin: 0 auto;
                width: 60%;
            }

        .registro-container .registro-column .registro-text-img .registro-label {
            color: white;
        }

        .registro-container .registro-column .registro-text-img .registro-input {
            background-color: white;
            padding: 5px;
            border-radius: 10px;
        }

        .registro-container .registro-column .registro-image .img-fluid {
            border-radius: 30px;
        }

.login-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    margin-top: 40px;
    background-color: grey;
    border-radius: 30px;
    padding: 50px;
    background-color: rgb(75, 75, 75);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}

    .login-container .login-text {
        margin: 0 auto;
        margin-top: 30px;
        color: white;
        width: 90%;
    }

        .login-container .login-text .form-control {
            width: 100%;
        }

    .login-container .login-ingresar {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 30px;
    }

        .login-container .login-ingresar .boton-ingresar a {
            color: white;
        }

.perfil-titulo {
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .perfil-titulo h1 {
        font-weight: 700;
        font-size: 2.7em;
        color: white;
    }

.perfil-container {
    margin: 0 auto;
    width: 80%;
    margin-top: 30px;
    background-color: rgb(75, 75, 75);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25);
    padding: 20px;
    display: flex;
    flex-direction: row;
    font-size: 1.1em;
    color: white;
    border-radius: 20px;
}

    .perfil-container .perfil-col-1 {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .perfil-container .perfil-col-2 {
        display: flex;
        flex-direction: column;
        width: 50%;
    }



    .perfil-container .perfil-col-1 .perfil-component {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 30px;
        width: 100%;
    }

        .perfil-container .perfil-col-1 .perfil-component a {
            color: white;
        }


        .perfil-container .perfil-col-1 .perfil-component .perfil-text {
            width: 70%;
            height: 40px;
            border-radius: 9px;
            padding: 5px;
        }

        .perfil-container .perfil-col-1 .perfil-component .perfil-label {
            width: 70%;
            height: 40px;
        }

    .perfil-container .perfil-col-2 .perfil-component {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 30px;
        width: 100%;
    }

        .perfil-container .perfil-col-2 .perfil-component:first-child {
            margin-bottom: 20px;
        }

        .perfil-container .perfil-col-2 .perfil-component .perfil-file {
            width: 70%;
            height: 400px;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25);
            color: white;
        }

    .perfil-container .perfil-col-2 .perfil-image {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 350px;
        width: 80%;
    }

        .perfil-container .perfil-col-2 .perfil-image .img-fluid {
            margin: 0 auto;
            height: 100%;
            width: 100%;
            max-width: 300px;
            border-radius: 20px;
        }

.perfil-row {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: black;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25);
    border-radius:20px;
}
.perfil-row .perfil-component{
    margin-right:100px;
}

.favoritos-h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    margin: 0 auto;
    margin-top: 30px;
}

.articulos-h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    margin: 0 auto;
    margin-top: 30px;
}

.articulos-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: rgb(75, 75, 75);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25);
    width:80%;
    border-radius:20px;
}

    .articulos-container .articulos-filtro {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-top:40px;
    }

        .articulos-container .articulos-filtro .articulos-filtro-normal {
            margin: 0 auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

            .articulos-container .articulos-filtro .articulos-filtro-normal .form-control {
                width: 60%;
                margin: 0 auto;
            }

        .articulos-container .articulos-filtro .articulos-filtro-avanzado {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            color: white;
            margin: 20px auto;
        }

            .articulos-container .articulos-filtro .articulos-filtro-avanzado .articulos-filtro-avanzado-chk {
                margin: 20px auto;
                width: 100%;
            }
.articulos-lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.articulos-lista .table {
    width: 90%;
}
.alta-art-container {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: rgb(75, 75, 75);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25);
    margin-top: 50px;
}

    .alta-art-container .alta-art-col-1 {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-left: 80px;
    }

        .alta-art-container .alta-art-col-1 .form-control, .form-select {
            width: 70%;
        }

        .alta-art-container .alta-art-col-1 .form-label {
            color: white;
        }

    .alta-art-container .alta-art-col-2 .form-label {
        color: white;
    }

    .alta-art-container .alta-art-col-2 .form-control {
        color: white;
        width: 70%;
    }

    .alta-art-container .alta-art-col-2 {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

.alta-art-row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
}

    .alta-art-row .alta-row-col {
        width: 30%;
        margin: 0;
        padding: 30px;
    }

alta-art-row .alta-row-col .btn {
    width: 30%;
    margin: 0;
    padding: 30px;
}

@media screen and (max-width: 1300px) {
    .productos-banner {
    }

        .productos-banner .banner-text {
            margin: 20px;
            display: flex;
        }

            .productos-banner .banner-text h4 {
                font-size: 2.3em;
            }

    @media screen and (max-width: 1180px) {
        .productos-banner {
            display: flex;
            height: 500px;
            margin: 0 auto;
            width: 80%;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            flex-direction: column;
        }

        .productos-banner, img {
            display: flex;
            object-fit: contain;
            overflow: auto;
        }

            .productos-banner .banner-text {
                margin: 20px;
                display: flex;
            }

                .productos-banner .banner-text h4 {
                    font-size: 2em;
                }

        .catalogo-container .catalogo-carta {
            width: 40%;
        }
    }

    @media screen and (max-width: 600px) {
        .catalogo-container .catalogo-carta {
            width: 80%;
        }
    }
